@media (min-width: 1024px) and (max-width: 1279px) {
    html{
        font-size: .4em;
    }
}

@media (min-width: 1280px) and (max-width: 1649px) {
    html{
        font-size: .5em;
    }
}

@media (min-width: 1650px) and (max-width: 1912px) {
    html{
        font-size: .65em;
    }
}

@media (min-width: 1913px) and (max-width: 2500px) {
    html{
        font-size: .8em;
    }
}

@media (min-width: 2501px) and (max-width: 3799px) {
    html{
        font-size: 1em;
    }
}

@media (min-width: 3800px){

}