@import './desktop.scss';
@import './mobile.scss';
@import './fonts.scss';

$page_size: 10px;

body{
    font-size: $page_size;
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
}

#app{
    min-height: 100vh;
    background: #0392A6;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}