@media (min-width: 0px) and (max-width: 319px) {
    html{
        font-size: 1em;
    }
}

@media (min-width: 320px) and (max-width: 374px) {
    html{
        font-size: 1em;
    }
}

@media (min-width: 375px) and (max-width: 424px) {
    html{
        font-size: 1.2em;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    html{
        font-size: 1.3em;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    html{
        font-size: 1.6em;
    }
}